
:root {
    --green: #5B7343;
    --light-green: #B1BF93;
    --yellow: #D6D989;
    --yellow-down:#fbfdba;
    --beige: #f6f2e9;
    --red: #A66565;
    --text: #5B7343;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    margin: 0px;
}

/* Positions and basic settings */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

section.hero {
    background-color: var(--beige);
    height: 100vh;
}

section.standard {
    padding: 12rem;
    z-index: 2;
    background-color: white;
}

p.bigtext {
    font-size: 4rem;
    margin: 0px;
}

p.bigtext.welcome-bigtext {
    margin-top: -2rem;
}

@media (max-width: 768px) {
    p.bigtext.welcome-bigtext {
        margin-top: -1rem;
        font-size: 3rem;
    }

    #welcome {
        padding-top: 5rem;
    }
}

@media (max-width: 576px) {
    p.bigtext.welcome-bigtext {
        margin-top: 0;
        font-size: 2rem;
    }

    #welcome {
        padding-top: 3rem;
    }
}
